<div class="jumbotron">
	<p>FIND YER FUD
	<div class="row">
		<form class="form-inline" role="form">
			<div class="form-group">
				<input type="text" class="form-control input-lg" id="inputLocation" ng-model="address" placeholder="Zipcode">
			</div>
            <a href="#/map?address={{address}}" class="btn btn-default btn-lg">Search</a>
		</form>
	</div>
	<p>OR</p>
	<div class="row">
		<a href="#/map" class="btn btn-success btn-lg">Use Current Location <span class="glyphicon glyphicon-map-marker"></span></a>
	</div>
</div>