<div class="jumbotron">
	<p>FIND YER FUD
	<div class="row">
		<form class="form-inline" role="form">
			<div class="form-group">
				<input type="text" class="form-control input-lg" id="inputLocation" placeholder="Zipcode">
			</div>
			<button type="submit" class="btn btn-default btn-lg">Search</button>
		</form>
	</div>
	<p>OR</p>
	<div class="row">
		<button class="btn btn-success btn-lg" type="button">Use Current Location <span class="glyphicon glyphicon-map-marker"></span></button>
	</div>
</div>