<div class="row">
	<div class="col-md-4 center">
		<h3><a href="#/schedule">Yesterday</a></h3>
	</div>
	<div class="col-md-4 center">
		<h1>Today</h1>
	</div>
	<div class="col-md-4 center">
		<h3><a href="#/schedule">Tomorrow</a></h3>
	</div>
</div>
<div class="row">
    <div class="vendor" ng-repeat="vendor in vendors">
        <div class="vendor-details">
            <h5><strong>{{vendor.name}}</strong></h5>
            <label>Stars: {{vendor.rating}} / 5</label>
            <div>{{vendor.comments}}</div>
        </div>
        <div class="schedule-entry pull-right" ng-repeat="sched in vendor.schedules">
            <label>Where</label>
            <div class="schedule-where">
                {{sched.where}}
            </div>
            <label>When</label>
            <div class="schedule-when">
                {{sched.from}} - {{sched.to}}
            </div>
        </div>
        <div class="vendor-actions pull-right">
            <a type="button" class="btn btn-success btn-xs btn-block" href="#/map">Map</a>
            <a type="button" class="btn btn-primary btn-xs btn-block" href="#/truck">Trucks Page</a>
            <a type="button" class="btn btn-warning btn-xs btn-block" href="#/reportproblem">Report Problem</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
