@{
    ViewBag.Title = "FoodR";
}

<div class="jumbotron">
    <h1>Welcome to FoodR! Or whatever this will be called!</h1>
    <p>A place to quicky find food trucks and other street food in the Jacksonville area.</p>
    <div class="welcome-btn-group center-block">
        <p>
            @Html.ActionLink("Find a truck near you", "Locate", "Home", null, new { @class = "btn btn-primary btn-lg btn-block" })
        </p>
        <p>OR</p>
        <p>
            @Html.ActionLink("Trucks out today", "Today", "Home", null, new { @class = "btn btn-primary btn-lg btn-block" })
        </p>
    </div>
</div>