@{
    ViewBag.Title = "FoodR";
}

<div class="jumbotron">
    <h1>Welcome to FoodR!</h1>
    <p>A place to quicky find food trucks and other street food in the Jacksonville area.</p>
    <div class="welcome-btn-group center-block">
        <p>
            @Html.ActionLink("Find a truck near you", "Locate", "Home", new { @class = "btn btn-primary btn-lg btn-block" })
            @*<a href="#/locate" class="btn btn-primary btn-lg btn-block" role="button">Find a truck near you</a>*@
        </p>
        <p>OR</p>
        <p>
            @Html.ActionLink("Check out their schedules", "Schedule", "Home", new { @class = "btn btn-primary btn-lg btn-block" })
        </p>
    </div>
</div>

@section scripts {

    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script src="App/foodr.js"></script>
}