
@{
    ViewBag.Title = "FoodR - Truck List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href="/App/css/schedule.css" rel="stylesheet">
}

<div ng-controller="ScheduleCtrl">
    <ul class="pager">
        <li class="previous"><a href="#">&larr; Older</a></li>
        <li>Today</li>
        <li class="next"><a href="#">Newer &rarr;</a></li>
    </ul>
    <div class="week" ng-repeat="vendor in vendors">
        <div class="day">
            <div class="header">
                <div class="verbiage pull-left">
                    <a href="#" class="name">{{vendor.name}}</a>
                    <ul class="rating">
                        <li>
                            <a href="#"><span ng-class="{'glyphicon-star': vendor.rating >= 1, 'glyphicon-star-empty': vendor.rating < 1}" class="glyphicon"></span></a>
                        </li>
                        <li>
                            <a href="#"><span ng-class="{'glyphicon-star': vendor.rating >= 2, 'glyphicon-star-empty': vendor.rating < 2}" class="glyphicon"></span></a>
                        </li>
                        <li>
                            <a href="#"><span ng-class="{'glyphicon-star': vendor.rating >= 3, 'glyphicon-star-empty': vendor.rating < 3}" class="glyphicon"></span></a>
                        </li>
                        <li>
                            <a href="#"><span ng-class="{'glyphicon-star': vendor.rating >= 4, 'glyphicon-star-empty': vendor.rating < 4}" class="glyphicon"></span></a>
                        </li>
                        <li>
                            <a href="#"><span ng-class="{'glyphicon-star': vendor.rating >= 5, 'glyphicon-star-empty': vendor.rating < 5}" class="glyphicon"></span></a>
                        </li>
                    </ul>
                    <p>{{vendor.description}}</p>
                </div>
                <div class="controls pull-right">
                    <button type="button" class="btn btn-info btn-sm">Menu</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <ul class="events">
                <li class="entry" ng-repeat="event in vendor.events">
                    <div class="timespan">
                        <div> {{event.from}}</div>
                        <div> {{event.to}}</div>
                    </div>
                    <div class="location">
                        <h5>{{event.location}}</h5>
                        <p>{{event.address1}}</p>
                    </div>
                    <div class="entry-controls">
                        <button class="btn btn-success btn-sm">I'm Going!</button>
                        <button class="btn btn-info btn-sm">On Map</button>
                        <button class="btn btn-danger btn-sm">Report Problem</button>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
@section scripts {

    <script src="/App/schedule.js"></script>
    <script type="text/javascript">
        $('.rating a').mouseover(function (e) {
            $(this).parent().parent().children('span').addClass('user-rating-selected user-rating');
        })
    </script>
}