@model TruckEditViewModel
@{
	ViewBag.Title = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8">
	@if (Model.PageState == TruckDetailsPageState.SaveSuccessfully)
	{
		<div class="alert alert-success alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			Changes saved
		</div>
	}
	else if (Model.PageState == TruckDetailsPageState.SaveFailed)
	{
		<div class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>Oops!</strong> The hamster fell of the wheel and was not able to save your changes. Please try again later.
		</div>
	}
	<h2>Edit Truck</h2>
</div>
<div class="col-md-8">
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		@Html.EditorFor(model => model)

		<div class="editor-label"><label for="Categories">Category</label></div>
		<div class="editor-field">
			@Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Value", "Text", Model.CategoryId), new { @class = "select" })
		</div>
		<div>
			<button type="submit" class="btn btn-success">Save</button>
			@Html.ActionLink("Cancel", "Index", "Admin", null, new { @class = "btn btn-link" })
		</div>
	}
</div>