@model DailyScheduleViewModel
<div class="day">
    <div class="header">
        <div class="name">@Model.Day.ToString("dddd MMMM dd")</div>
    </div>
    <ul class="events">
        @foreach (var entry in Model.Stops)
        {
            @Html.Partial("ScheduleEntryDetail", entry)
        }
    </ul>
</div>

