@model int
<ul class="rating">
	@for (int i = 1; i <= 5; i++)
	{
		<li>
			<a href="#">
				@if (Model < i)
				{
					<span class="glyphicon glyphicon-star-empty"></span>
				}
				else
				{
					<span class="glyphicon glyphicon-star"></span>
				}
			</a>
		</li>
	}
</ul>
