@model ScheduleEntryDetailsViewModel
<li class="entry">
    <div class="timespan">
        <div>@Model.From.ToString("h tt")</div>
        <div>@Model.To.ToString("h tt")</div>
    </div>
    <div class="location">
        <h5>@Model.Location.Name</h5>
        <p>@Model.Location.StreetAddress</p>
    </div>
    @if (ViewBag.UserName != "Anonymous")
    {
        <div class="entry-controls">
            <a href="/schedule/edit/@Model.Id" class="btn btn-info btn-sm">Edit</a>
            <a href="/schedule/cancel/@Model.Id" class="btn btn-danger btn-sm">Cancel This</a>
        </div>
    }
    <div class="clearfix"></div>
</li>

