@model TruckListDetailViewModel

<div class="header">
	<div class="verbiage pull-left">
        <a href="/trucks/details/@Model.UrlSlug">@Model.Name</a>
		@Html.Partial("Rating", Model.Rating)
		<p>@Model.Description</p>
	</div>
	<div class="clearfix"></div>
</div>