@model TruckDetailsViewModel

<div class="header">
	<div class="verbiage pull-left">
		@Html.ActionLink(Model.Name, "Details", "Trucks", new { truckName = Model.UrlSlug }, null)
		@Html.Partial("Rating", Model.Rating)
		<p>@Model.Description</p>
	</div>
	<div class="clearfix"></div>
</div>