@model ScheduledStopEditViewModel
<h2>Create Scheduled Stop</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.EditorFor(model => model)

    <div class="row">
        <button type="submit" class="btn btn-success">Create Stop</button>
    </div>
}